@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>ThAmCo Events</h3>

<p>ThAmCo events is an events management system that will:
    <br />
    - Assign guests to your events,
    <br />
    - Assign staff to your event,
    <br />
    - Ensure the correct number of staff per event,
    <br />
    - Enusre you have a first aid qualified member of staff at your event,
    <br />
    - Reserve venues that are apropriate for your event.</p>
